/* 
    Fonts:
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Raleway', sans-serif;
*/

*{
    
}

body{
    background-color: #080808;
    height: 4000px;
}

/* Header Navigation Menu */

header{
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
}

.container{
    width: 1110px;
    margin: 0 auto;
    padding: 24px 95px 28px 95px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #1B1B1B;
    border-radius: 0 0 5px 5px;
}

.header-tab-navigation{
    margin-right: 95px;
}

.header-navlist{
    display: flex;
}

.header-navlist-item{
    color: #9C9C9C;
    transition: all .3s;
}

.header-navlist-item:hover{
    color: #FFFFFF;
    transition: all .3s;
}

.header-navlist-item + .header-navlist-item{
    padding-left: 70px;
}

.header-navlist-link{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
}

.header-social-navigation{
    display: flex;
}

.header-social{
    margin-right: 28px;
}

.header-social + .header-social{
    padding-left: 25px;
}

/* Greeting Section */

.greeting-section{
    margin-top: 150px;
}

.greeting-container{
    display: flex;
}

.greeting-section-column{

}

.greeting-section-column + .greeting-section-column{
    margin-left: 32px;
}

.greeting-section-column h1{
    width: 492px;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 52px;
}

.greeting-section-column h3{
    width: 492px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
}

.greeting-section-column p{
    width: 492px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #9C9C9C;
    line-height: 24px;
    margin-top: 10px;
}

.greeting-section-column a{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 21px 79px 21px 64px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #A4E9F9,#C5AEF2,#8578EA);
    background-size: 300%;
    background-position: left;
    transition: .3s background-position ease-in-out;
}

.greeting-section-column a:hover{
    background-position: right;
}

.greeting-section-image{
    height: 395px;
    width: 395px;
}

/* Tools Section */

.tools-section{
    margin-top: 58px;
}

.tools-container{
    background-color: transparent;
}

.tools-category{
    margin-bottom: 20px;
}

.tools-category h4{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.tools-cards{
    width: 920px;
    display: flex;
    flex-wrap: wrap;
}

.tool-card{
    flex: 1 1 160px;
    margin: 10px;
    border: 1px solid #1B1B1B;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0px;
}

.tool-card span{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #525252;
}

/* Skills Section */

.skills-section{
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.skills-container{
    background-color: transparent;
}

.skills-caption{
    text-align: center;
}

.skills-caption h2{
    margin-bottom: 10px;
    font-family:'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #080808;
    line-height: 40px;
}

.skills-caption p{
    width: 570px;
    margin: 0 auto;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #9C9C9C;
    line-height: 24px;
}

.skills{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-between;
}

.skills-category{
    flex: 1 1 325px;
}

.skills-category h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    color: #080808;
    text-align: center;
    margin-top: 35px;
}

.skill{
    margin: 20px 0;
}

.skill-title{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    color: #525252;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.skill-bar{
    height: 14px;
    background: #1B1B1B;
    border-radius: 4px;
}

.skill-percentage{
    height: 14px;
    background: linear-gradient(to right, #A4E9F9,#C5AEF2,#8578EA);
    border-radius: 3px;
    animation: fillSkillBars 2.5s 1;
}

@keyframes fillSkillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}